<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'checkr' %>
  </head>

  <body>
    <header>
      <div id="logo">
      </div>

      <div class="dropdown">
        <button class="dropbtn">PRODUCT</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Screening</a>
          <a href="#">Compliance</a>
          <a href="#">Security</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">STAFFING</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>

        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">INDUSTRIES</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Contact centers</a>
          <a href="#">Retail & Hospitality</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">RESOURCES</button>
        <div class="dropdown-content">
          <a href="#">Overview</a>
          <a href="#">Guide & White Papers</a>
          <a href="#">FAQ</a>
        </div>
      </div>

      <div class="dropdown">
        <button class="dropbtn">COMPLIANCE</button>
      </div>

      <div id="log_in">LOG IN</div>
      <div id="get_started">GET STARTED ➜</div>
    </header>

    <section class="middle">
      <div class="left">
        <div class="text_box">
          <h1>HIRE GREAT PEOPLE.</br>FASTER.</h1>
          <h2>Checkr provides modern and compliant background</br>
            checks for global enterprises and startups.</h2>
        </div>
        <button class="big_button">EXPLORE NOW ➜
        </button>
      </div>

      <div class="video">
      </div>
    </section>

  </body>
</html>
