<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag    'sparks' %>
  </head>

  <body>
    <header>
      <div id="logo2">
      </div>

      <div class="dropdown">
        <button class="dropbtn">Features</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Pricing</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Inspiration</button>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Blog</button>
      </div>
        <div class="dropdown">
        <button class="dropbtn" id="souligne">Learn more</button>
        <div class="dropdown-content">
          <a href="#">Spark Post</a>
          <a href="#">Spark Page</a>
          <a href="#">Spark Video</a>
          <a href="#">Spark For Business</a>
          <a href="#">Spark in the Classroom</a>
          <a href="#">Support</a>
        </div>
      </div>

      <div id="log_in2">Log in</div>
      <div id="get_started2">Start now for free</div>
    </header>

    <section class="center">
      <div class="title"><h4>Spark Video</h4></br><h3>Make compelling video stories—in minutes</h3>
      </div>

      <div class="center_button">Get started now
      </div>
    </section>

    <div>
      <ul class="carousel">
          <li id="carou1"></li>
          <li id="carou2"></li>
          <li id="carou3"></li>
          <li id="carou4"></li>
      </ul>
    </div>
    <div>
      <ul class="legende">
          <li>Advertisement</li>
          <li>Social cause</li>
          <li>Recipe</li>
          <li>Portfolio</li>
      </ul>
    </div>

  </body>
</html>
